//Body Styles
body {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

// Adoption page body style
.adoption-introduction{
    text-align: center;
    margin:8% 8%;
 }

.adoption-introduction h1{
    margin-bottom:30px;
    font-family: $header-font;
}
.adoption-p{
    margin-left:20%;
    margin-right: 20%;
    line-height: 1.8;
    font-family:$opening-font;
}

.donation-section{
    position: relative;
}
.donation-form{
    border:1px solid rgb(119, 118, 116);
    border-radius: 10px;
    padding:20px;
    display:none;
}
.donation-form input{
    border:1px solid rgb(141, 139, 139);
    border-radius: 5px;
    padding:4px;
    margin: 5px;
}
.donation-form h1{
    margin:10px;
}
.donation-form h3{
    margin-bottom: 5px;
}

.donation-inputs-value section{
    border:1px solid rgb(119, 118, 116);
}
// Adoption page body style end

// adoption page min-width 500px
@media(min-width:500px){
   .adoption-contact{
       margin-top:5%;
   }
}
// adoption page min-width 600px
@media(min-width:600px){
    .donation-section{
        display: flex;
    }
}

// adoption page min-width 800px
@media(min-width:800px){
    .adoption-contact{
        font-size: 1.3em;
    }
}

// adoption page min-width 1000px
@media(min-width:1000px){
    .adoption-introduction h1{
        font-size: 2em;
    }
    .donation-form{
        width:50%;
        margin-left:8%;
    }

    .adoption-contact{
        font-size: 1.5em;
    }
}
