.contact-section {
  @include flex-layout-row;
  justify-content: space-evenly;

  h3 {
    font-size: 2em;
    text-align: center;
    padding: 10px;
  }

  .contact-detail {
    img {
      padding-top: 40px;
      height: 600px;
    }
  }
}
