//copy right section Styles

.copy-right {
  text-align: center;
  font-size: 1.2em;

  a {
    color: rgb(236, 133, 35);
    text-decoration: none;
    outline: none;

    #{$link-hover-selector} {
      background-color: rgb(236, 133, 35);
      cursor: pointer;
    }
  }

  @media (max-width: $phoneLandscape) {
    font-size: 0.6em;
  }
}
