footer {
  margin: 0 auto;
  padding: 20px;
  border-top: 2px solid black;
  @include flex-layout-row;
  justify-content: space-evenly;

  a {
    text-decoration: none;
  }

  h3 {
    text-align: center;
  }
}

@media (max-width: $tabletPortrait) {
  footer {
    @include flex-center;
  }
}
