// Home page Banner section Styles

.banner {
  background-attachment: fixed;
  .banner-image {
    position: relative;
    background-image: linear-gradient(rgba(white, 0.6), rgba(white, 0.6)),
      url("http://ssriranjani.bcitwebdeveloper.ca/cat-coffee-project/assets/cat-coffee-shop-banner.jpg");
    min-height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }
  .hero-text {
    background-attachment: fixed;
    @include flex-center;
    text-align: center;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $opening-font;
  }
  h1 {
    font-size: 3.6em;
    margin-bottom: 40px;
  }
  h3 {
    font-size: 2em;
    margin-bottom: 40px;
  }

  @media (max-width: $tabletPortrait) {
    h1 {
      font-size: 3em;
    }
    h3 {
      font-size: 1.8em;
    }
  }

  @media (max-width: $phoneLandscape) {
    h1 {
      font-size: 2.5em;
    }
    h3 {
      font-size: 1.5em;
    }
  }

  @media (max-width: $phonePortrait) {
    h1 {
      font-size: 2em;
    }
    h3 {
      font-size: 1em;
    }
  }
}
