// Main Navigation Styles
nav {
  // locally scoped variable
  $height: 64px;
  $border: 1px solid rgb(0, 0, 0);
  height: $height;

  ul {
    @include flatten;
    @include ul-list;
    display: flex;
  }

  li {
    flex: 1;
  }

  a {
    display: block;
    color: $text-color-dark;
    line-height: $height;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    outline: none;
    padding: 0 25px;
    cursor: pointer;

    #{$link-hover-selector} {
      height: $height;
      background-color: rgb(236, 133, 35);
    }
  }

  @media (max-width: $tabletLandscape) {
    a {
      font-size: 1.5em;
    }
  }

  @media (max-width: $tabletPortrait) {
    // position: absolute;
    // top: 0%;
    // left: 0;
    // width: 100%;
    // min-height: 90vh;
    // margin: 0;
    // background-color: rgba(white, 0.5);
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // transform: scale(0);
    // z-index: 1;

    height: 0;
    overflow: hidden;
    width: calc(100% + 60px);

    nav.activated {
      transition: all 0.3s ease-in-out;
    }

    .show & {
      // transform: scale(1.2);
      // transition: 0.3s;
      margin-top: 20px;
      height: 320px;
    }
    ul {
      @include flex-center;
      text-align: center;
    }

    li {
      width: 100%;
    }
    li:last-child {
      border-bottom: $border;
    }

    a {
      border-top: $border;
      #{$link-hover-selector} {
        height: $height;
        background-color: rgb(236, 133, 35);
      }
    }
  }
}
