// Main Navigation Styles
nav {
  // locally scoped variable
  $height: 76px;
  $border: 1px solid rgb(0, 0, 0);

  height: $height;

  ul {
    @include flatten;
    @include ul-list;
    display: flex;
  }

  li {
    flex: 1;
  }

  a {
    display: block;
    color: $text-color-dark;
    line-height: $height;
    text-align: center;
    font-size: 2em;
    text-decoration: none;
    outline: none;
    padding: 0 30px;

    #{$link-hover-selector} {
      height: $height;
      background-color: rgb(236, 133, 35);
      cursor: pointer;
    }
  }

  @media (max-width: $desktopMedium) {
    display: none;
    height: auto;
    border-top: none;
    overflow: hidden;
    width: calc(100% + 60px);

    nav.activated {
      transition: all 0.3s ease-in-out;
    }

    .show & {
      display: block;
    }
    ul {
      @include flex-center;
      text-align: center;
    }

    li {
      width: 100%;
    }

    a {
      line-height: 50px;
      border-right: none;
      border-top: $border;

      #{$link-hover-selector} {
        background-color: rgb(236, 133, 35);
        cursor: pointer;
      }
    }
  }
}
