table {
  border: none;
  // width: 100%;

  h3 {
    padding: 10px;
    font-size: 1.6em;
  }

  img {
    padding-top: 10px;
    width: 50px;
  }
}
td {
  padding: 10px;
  font-size: 1.3em;
}

@media (max-width: $tabletPortrait) {
  table {
    h3 {
      font-size: 1.4em;
    }
  }
  td {
    font-size: 1.2em;
  }
}
