table {
  border: none;

  h3 {
    padding: 10px;
    font-size: 1.6em;
  }

  img {
    padding-top: 10px;
    width: 30px;
  }
}
td {
  padding: 10px;
  font-size: 1.3em;
}

@media (max-width: $tabletPortrait) {
  table {
    h3 {
      padding: 10px;
      font-size: 1.3em;
    }

    img {
      padding-top: 10px;
      width: 30px;
    }
  }

  td {
    padding: 10px;
    font-size: 1.2em;
  }
}
